<!DOCTYPE html>
<html lang="en">
<!-- HEAD -->
<%- include("/partials/head.ejs) %>
<!-- FIN HEAD -->
<body>
<footer class="main-footer">
    <div class="footer-left">
      <div class="logo">
        <img src="img/logoblanco.png" alt="Concert Pass Logo">
      </div>
      <div class="resources">
        <h3>Recursos</h3>
        <ul>
          <li><a href="#">Developers</a></li>
          <li><a href="#">Journal</a></li>
          <li><a href="#">Trabaja con nosotros</a></li>
          <li><a href="#">Políticas de privacidad</a></li>
          <li><a href="#">Términos y condiciones</a></li>
        </ul>
      </div>
      <div class="need-help">
        <h3>¿Necesitas ayuda?</h3>
        <ul>
          <li><a href="#">FAQs</a></li>
          <li><a href="#">Sobre nosotros</a></li>
          <li><a href="#">Tutoriales</a></li>
        </ul>
      </div>
    </div>
    <div class="footer-right">
      <p>&copy; 2023 Concert Pass</p>
      <div class="social-icons">
        <a href="#"><i class="fa-brands fa-youtube"></i></a>
        <a href="#"><i class="fa-brands fa-facebook"></i></a>
        <a href="#"><i class="fa-brands fa-instagram"></i></a>
        <a href="#"><i class="fa-brands fa-tiktok"></i></a>
   
      </div>
    </div>
  </footer>
  
