<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" type="text/css" href="../public/css/style.css">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Lexend+Deca&family=Roboto:wght@100&display=swap"
        rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
</head>

<body>
    <div class="nav">
        Espacio para el nav
    </div>
    <section>
        <article class="anuncio">
            Espacio para el anuncio
        </article>
    </section>

    <section class="busqueda">
        <form action="#">
            <input type="text" name="barra-busq" id="barra-busq" placeholder="Buscar...">
            <i class="fas fa-search icono-busq"></i>
            <i class="fa-solid fa-filter icono-busq"></i>
        </form>
    </section>
    <section class="eventos">
        <article class="tarjeta">
            <img src="../public/img/the wekkend.png" alt="Duki" class="imagen-evento">
            <div class="datos-evento">
                <p>The Weeknd</p>
                <p>Estadio River Plate</p>
            </div>
            <button class="btn-compra">COMPRAR <i class="fa-solid fa-ticket icono-tiquet"></i></button>
        </article>
        <article class="tarjeta">
            <img src="../public/img/duki.jpg" alt="Duki" class="imagen-evento">
            <div class="datos-evento">
                <p>DUKI</p>
                <p>Estadio River Plate</p>

            </div>
            <button class="btn-compra">COMPRAR <i class="fa-solid fa-ticket icono-tiquet"></i></button>
        </article>
        <article class="tarjeta">
            <img src="../public/img/Taylor.png" alt="Duki" class="imagen-evento">
            <div class="datos-evento">
                <p>Taylor Swift</p>
                <p>Estadio River Plate</p>

            </div>
            <button class="btn-compra">COMPRAR <i class="fa-solid fa-ticket icono-tiquet"></i></button>

        </article>

    </section>
    <section class="eventos">
        <article class="tarjeta">
            <img src="../public/img/duki.jpg" alt="Duki" class="imagen-evento">
            <div class="datos-evento">
                <p>DUKI</p>
                <p>Estadio River Plate</p>
            </div>
            <button class="btn-compra">COMPRAR <i class="fa-solid fa-ticket icono-tiquet"></i></button>
        </article>
        <article class="tarjeta">
            <img src="../public/img/tan bionica.png" alt="Duki" class="imagen-evento">
            <div class="datos-evento">
                <p>Tan Bionica</p>
                <p>Estadio River Plate</p>

            </div>
            <button class="btn-compra">COMPRAR <i class="fa-solid fa-ticket icono-tiquet"></i></button>
        </article>
        <article class="tarjeta">
            <img src="../public/img/Lolapalloza.png" alt="Duki" class="imagen-evento">
            <div class="datos-evento">
                <p>Lolapalloza</p>
                <p>Hipodromo San Isidro</p>

            </div>
            <button class="btn-compra">COMPRAR <i class="fa-solid fa-ticket icono-tiquet"></i></button>
        </article>
    </section>

    <section class="">
        <br><br><br><br><br>
    </section>
</body>

</html>