<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" type="text/css" href="/css/styles.css">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Lexend+Deca&family=Roboto:wght@100&display=swap"
        rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
</head>

<body>
    <header class="main-header">
        <div class="logo">
            <img src="img/logo.png" alt="Concert Pass Logo">
        </div>
        <nav class="nav-icons">
            <ul class="desktop-icons">
                <li><a href="#"><i class="fa-regular fa-user"></i></a></li>
                <li><a href="./misTickets"><i class="fa-solid fa-ticket"></i></a></li>
                <li><a href="#"><i class="far fa-heart"></i></a></li>
                <li><a href="#"><i class="fas fa-shopping-cart"></i></a></li>
            </ul>
            <div class="dropdown">
                <button class="dropdown-button"><i class="fa-solid fa-bars"></i></button>
                <div class="dropdown-content">
                    <a href="#"><i class="fa-regular fa-user"></i> Mi cuenta</a>
                    <a href="./misTickets"><i class="fa-solid fa-ticket"></i> Mis tickets</a>
                    <a href="#"><i class="far fa-heart"></i> Mis favoritos</a>
                    <a href="#"><i class="fas fa-shopping-cart"></i> Carrito</a>
                </div>
            </div>
        </nav>
    </header>
    <section>
        <article class="anuncio">
            Espacio para el anuncio
        </article>
    </section>

    <section class="busqueda">
        <form action="#">
            <input type="text" name="barra-busq" id="barra-busq" placeholder="Buscar...">
            <i class="fas fa-search icono-busq"></i>
            <i class="fa-solid fa-filter icono-busq"></i>
        </form>
    </section>
    <section class="body-articulos">
        <article class="caja-producto">
            <section>
                <img src="/img/DUKI.png" alt="FOTO-PRODUCTO" class="foto-producto">
            </section>

            <section class="descripcion-producto">
                <section class="descripcion">
                    <p class="titulo-show">DUKI</p>
                    <p class="lugar-show">ESTADIO RIVER PLATE</p>
                </section>
                <section>
                    <a href="./detail"><button class="boton-comprar">COMPRAR<i
                                class="ticket-botoncomprar fas fa-ticket-alt"></i></i></button></a>
                </section>
            </section>
        </article>

        <article class="caja-producto">
            <section>
                <img src="/img/TAYLOR.png" alt="FOTO-PRODUCTO" class="foto-producto">
            </section>

            <section class="descripcion-producto">
                <section class="descripcion">
                    <p class="titulo-show">TAYLOR SWIFT</p>
                    <p class="lugar-show">ESTADIO RIVER PLATE</p>
                </section>
                <section>
                    <a href="./detail"><button class="boton-comprar">COMPRAR<i
                                class="ticket-botoncomprar fas fa-ticket-alt"></i></i></button></a>
                </section>
            </section>
        </article>

        <article class="caja-producto">
            <section>
                <img src="/img/LOLA.png" alt="FOTO-PRODUCTO" class="foto-producto">
            </section>

            <section class="descripcion-producto">
                <section class="descripcion">
                    <p class="titulo-show">LOLLAPALOOZA</p>
                    <p class="lugar-show">HIP. DE SAN ISIDRO</p>
                </section>
                <section>
                    <a href="./detail"><button class="boton-comprar">COMPRAR<i
                                class="ticket-botoncomprar fas fa-ticket-alt"></i></i></button></a>
                </section>
            </section>
        </article>

        <article class="caja-producto">
            <section>
                <img src="/img/RHCP.png" alt="FOTO-PRODUCTO" class="foto-producto">
            </section>

            <section class="descripcion-producto">
                <section class="descripcion">
                    <p class="titulo-show">RHCP!</p>
                    <p class="lugar-show">ESTADIO RIVER PLATE</p>
                </section>
                <section>
                    <a href="./detail"><button class="boton-comprar">COMPRAR<i
                                class="ticket-botoncomprar fas fa-ticket-alt"></i></i></button></a>
                </section>
            </section>
        </article>

        <article class="caja-producto">
            <section>
                <img src="/img/LUMINERS.png" alt="FOTO-PRODUCTO" class="foto-producto">
            </section>

            <section class="descripcion-producto">
                <section class="descripcion">
                    <p class="titulo-show">THE LUMINEERS</p>
                    <p class="lugar-show">ESTADIO OBRAS</p>
                </section>
                <section>
                    <a href="./detail"><button class="boton-comprar">COMPRAR<i
                                class="ticket-botoncomprar fas fa-ticket-alt"></i></i></button></a>
                </section>
            </section>
        </article>

        <article class="caja-producto">
            <section>
                <img src="/img/THE WEEKEND.png" alt="FOTO-PRODUCTO" class="foto-producto">
            </section>

            <section class="descripcion-producto">
                <section class="descripcion">
                    <p class="titulo-show">THE WEEKND</p>
                    <p class="lugar-show">ESTADIO RIVER PLATE</p>
                </section>
                <section>
                    <a href="./detail"><button class="boton-comprar">COMPRAR<i
                                class="ticket-botoncomprar fas fa-ticket-alt"></i></i></button></a>
                </section>
            </section>
        </article>

    </section>

    <section class="">
        <br><br><br><br><br>
    </section>
    <footer class="main-footer">
        <div class="footer-left">
          <div class="logo">
            <img src="img/logoblanco.png" alt="Concert Pass Logo">
          </div>
          <div class="resources">
            <h3>Recursos</h3>
            <ul>
              <li><a href="#">Developers</a></li>
              <li><a href="#">Journal</a></li>
              <li><a href="#">Trabaja con nosotros</a></li>
              <li><a href="#">Políticas de privacidad</a></li>
              <li><a href="#">Términos y condiciones</a></li>
            </ul>
          </div>
          <div class="need-help">
            <h3>¿Necesitas ayuda?</h3>
            <ul>
              <li><a href="#">FAQs</a></li>
              <li><a href="#">Sobre nosotros</a></li>
              <li><a href="#">Tutoriales</a></li>
            </ul>
          </div>
        </div>
        <div class="footer-right">
          <p>&copy; 2023 Concert Pass</p>
          <div class="social-icons">
            <a href="#"><i class="fa-brands fa-youtube"></i></a>
            <a href="#"><i class="fa-brands fa-facebook"></i></a>
            <a href="#"><i class="fa-brands fa-instagram"></i></a>
            <a href="#"><i class="fa-brands fa-tiktok"></i></a>
       
          </div>
        </div>
      </footer>
</body>

</html>