body {
  margin: 0;
  padding: 0;
  font-family: "Lexend Deca", sans-serif;
}
.titulo {
  display: flex;
  align-items: center;
  padding-left: 10%;
}
.titulo-entradas {
  padding-left: 10px;
  font-size: 30px;
  text-decoration: underline;
}

/* ESTILOS DE LA BARRA DE BUSQUEDA */
.busqueda {
  padding: 10px;
  text-align: center;
}

.busqueda input[type="text"] {
  background: radial-gradient(circle, #c797ee 0%, rgb(231 129 150) 100%);
  padding: 6px;
  padding-left: 30px;
  border: none;
  border-radius: 10px;
  width: 55%;
  height: 30px;
  color: black;
  font-size: 16px;
  text-align: center;
    font-weight: 600;
    font-family:"Lexend Deca", sans-serif ;
}
#barra-busq:focus {
  outline: 0px;
}
/*COLOR PLACEHOLDEER (LETRAS DENTRO DE BARRABUSQUEDA)*/
::placeholder {
  color: #ffffff;
  font-family: "Lexend Deca", sans-serif;
  font-size: 18px;
}

.icono-busq {
  color: #a6a6a6;
  margin-left: 10px;
  cursor: pointer;
  height: 100%;
  border: solid 2px;
  padding: 5px;
  border-radius: 10px;
}

/*Estilos eventos*/
.body-eventos {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
/*CAJA PADRE*/

.caja-evento {
  background-color: rgb(255, 255, 255);
  border-radius: 8px;
  width: 100%;
  margin: 8px;
  border-radius: 10px;
  border: solid 4px black;
  transition: all 0.3s;
}

.caja-evento:hover{
    box-shadow:  -6.891px 24.032px 76px 0px #66457657;
    background-color: #66457630;
}
.foto-producto {
  width: 100%;
  border-radius: 8px 8px 0px 0px;
}
/*DESCRIPCION PRODUCTO*/
/*Es toda la parte de la info del evento*/
.descripcion-evento {
  width: 100%;
}
.descripcion-titulo {
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.titulo-show {
  font-size: 28px;
  font-weight: bold;
  margin: 0px 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}
/* Article*/
.descripcion-compra {
  background-color: #e4e4e4;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}
/* p */
.num-compra {
  font-size: 22px;
  margin: 0px;
}

.descripcion-detalles {
  height: 60px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.boton-detalles {
  border-radius: 10px;
  border: solid 2px black;
  padding: 7px;
  font-family: "Lexend Deca", sans-serif;
  font-size: 12px;
  font-weight: bold;
  margin: 5px;
  background: radial-gradient(circle, rgb(231 129 150) 0%, #c797ee 100%);
  cursor: pointer;
  transition: all 0.5s;
}
.boton-detalles:hover {
  background-color: #141414;
  background: radial-gradient(circle, #c797ee 0%, rgb(231, 129, 150) 100%);
  background-clip: inherit;
  -webkit-background-clip: text; /* Esto permite que el fondo degradado afecte al texto */
  color: transparent;
  font-weight: bold;
  border: solid 2px #141414;
}

/*TABLET*/
@media (min-width: 530px) {
  .caja-evento {
    display: flex;
    width: 45%;
    flex-wrap: wrap;
  }
}
/*DESKTOP*/
@media (min-width: 1000px) {
  .caja-evento {
    display: flex;
    width: 25%;
    flex-wrap: wrap;
  }
}

/* Estilos para el header */
.main-header {
  background-color: #fffafb;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 20px;
}

/* Estilos para el logo */
.logo img {
  width: 40px;
  height: auto;
}

/* Estilos para los iconos en desktop */
.desktop-icons {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
}

.desktop-icons li {
  margin-left: 20px;
}

.desktop-icons a {
  color: #141414;
  text-decoration: none;
  font-size: 20px;
}

/* Estilos para el botón de dropdown */
.dropdown-button {
  background: none;
  border: none;
  cursor: pointer;
  font-size: 20px;
  display: none;
}

/* Estilos para el contenido del dropdown */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #fffafb;
  width: 100%;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
  right: 0;
  bottom: 0;
  top: 15%;
}

.dropdown-content a {
  color: #141414;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

.dropdown-content a:hover {
  background-color: #ddd;
}

/* Estilos responsivos */
@media (max-width: 768px) {
  .main-header {
    flex-direction: column;
    text-align: center;
  }

  .desktop-icons {
    display: none;
  }

  .dropdown-button {
    display: block;
  }

  .dropdown {
    margin-top: 10px;
  }

  .dropdown-content {
    display: block;
  }
}

/* Estilos para el footer */
.main-footer {
  background-color: #141414;
  color: #fffafb;
  font-family: "Lexend Deca", sans-serif;
  padding: 20px;
}

.footer-left {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  margin-bottom: 20px;
  height: 200px;
}

.resources,
.need-help {
  flex-basis: 23.33%;
  max-width: 23.33%;
}

.resources h3,
.need-help h3 {
  margin-bottom: 10px;
}

.resources ul,
.need-help ul {
  list-style: none;
  padding: 0;
}

.resources ul li,
.need-help ul li {
  margin-bottom: 5px;
}

.logo {
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
}

.logo img {
  width: 250px;
  height: auto;
  vertical-align: middle;
}

a {
  color: #fffafb;
  text-decoration: none;
}

.footer-right {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.social-icons a {
  color: #fffafb;
  margin-left: 10px;
}

.social-icons a:first-child {
  margin-left: 0;
}

/* Estilos responsivos */
@media (max-width: 768px) {
  .footer-left {
    flex-wrap: wrap;
    height: auto;
  }

  .resources,
  .need-help {
    flex-basis: 100%;
    max-width: 100%;
    margin-bottom: 10px;
  }
  .logo {
    text-align: center;
    width: 100%;
  }

  .logo img {
    width: 250px;
    height: auto;
    vertical-align: middle;
  }

  .footer-right {
    flex-direction: column;
    align-items: center;
    text-align: center;
  }

  .footer-right .social-icons {
    margin-top: 10px;
  }
}
@media (min-width: 576px){
  .navbar-expand-sm .navbar-collapse {
      display: flex!important;
      flex-basis: auto;
      justify-content: flex-end;
  }
  }
