* {
    font-family: "Lexend Deca", sans-serif;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/* Estos estilos del nav son provisorios hasta que se añadan los nuevos*/
.nav {
    height: 100px;
    background-color: #d9d9d9;
    margin-bottom: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}
/* la clase anuncio es solo un espacio hasta que econtremos que foto pone*/
.anuncio {
    background-color: #a9a9a9;
    height: 200px;
    display: flex;
    align-items: center;
    justify-content: center;
}
body {
    margin: 0;
    padding: 0;
    width: 100%;
}

/* De aca estan todos los estilos relacionados con la disposicion de cada evento */

.caja-producto:hover {
    box-shadow: -6.891px 24.032px 76px 0px #66457657;
    background-color: #66457630;
}

/* ESTILOS DE LA BARRA DE BUSQUEDA */
.busqueda {
    padding: 10px;
    text-align: center;
}

.busqueda input[type="text"] {
    background: radial-gradient(circle, #c797ee 0%, rgb(231 129 150) 100%);
    padding: 6px;
    padding-left: 30px;
    border: none;
    border-radius: 10px;
    width: 55%;
    height: 30px;
    color: black;
    font-size: 16px;
    text-align: center;
}
#barra-busq:focus {
    outline: 0px;
}
/*COLOR PLACEHOLDEER (LETRAS DENTRO DE BARRABUSQUEDA)*/
::placeholder {
    color: #ffffff;
    font-family: "Lexend Deca", sans-serif;
    font-size: 18px;
}

.icono-busq {
    color: #a6a6a6;
    margin-left: 10px;
    cursor: pointer;
    height: 100%;
    border: solid 2px;
    padding: 5px;
    border-radius: 10px;
}

/*CSS GIME*/

/*ARTICULOS-PRODUCTO*/
.body-articulos {
    display: grid;
    grid-template-columns: 1fr;
    padding: 1rem;
    gap: 1rem;
}

/*CAJA PADRE*/
.caja-producto {
    background-color: rgb(255, 255, 255);
    border-radius: 8px;
    width: 100%;
    border-radius: 10px;
    border: solid 4px black;
    transition: all 0.3s;
    display: flex;
    flex-wrap: wrap;
}
.foto-producto {
    width: 100%;
    height: 16rem;
    border-radius: 8px;
}

.foto-producto img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 8px;
}
/*DESCRIPCION PRODUCTO*/
.descripcion-producto {
    margin: 1px;
    display: flex;
    justify-content: space-between;
    align-items: end;
    width: 100%;
    flex-wrap: wrap;
}
.titulo-show {
    font-size: 28px;
    font-weight: bold;
    margin: 0px 10px;
}
.lugar-show {
    font-size: 16px;
    margin: 6px 10px;
}
.boton-comprar {
    border-radius: 10px;
    border: solid 3px black;
    padding: 7px;
    font-family: "Lexend Deca", sans-serif;
    font-size: 12px;
    font-weight: bold;
    margin: 5px;
    background: radial-gradient(circle, rgb(231 129 150) 0%, #c797ee 100%);
    cursor: pointer;
    transition: all 0.5s;
}
.boton-comprar:hover {
    background: radial-gradient(circle, #c797ee 0%, rgb(231 129 150) 100%);
}
.ticket-botoncomprar {
    padding: 0px 5px;
}

/*TABLET*/
@media (min-width: 530px) {
    .body-articulos {
        grid-template-columns: repeat(2, 1fr);
        padding: 2rem 4rem;
        gap: 1rem;
    }
}
/*DESKTOP*/
@media (min-width: 1000px) {
    .body-articulos {
        grid-template-columns: repeat(3, 1fr);
        padding: 2rem 4rem;
        gap: 1rem;
    }
}

/*MIS TICKETS*/
.titulo {
    display: flex;
    align-items: center;
    padding-left: 10%;
  }
  .titulo-entradas {
    padding-left: 10px;
    font-size: 30px;
    text-decoration: underline;
  }
/*Estilos eventos*/
.body-eventos {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  /*CAJA PADRE*/
  
  .caja-evento {
    background-color: rgb(255, 255, 255);
    border-radius: 8px;
    width: 100%;
    margin: 8px;
    border-radius: 10px;
    border: solid 4px black;
    transition: all 0.3s;
  }
  
  .caja-evento:hover{
      box-shadow:  -6.891px 24.032px 76px 0px #66457657;
      background-color: #66457630;
  }
  .foto-producto {
    width: 100%;
    border-radius: 8px 8px 0px 0px;
  }
  /*DESCRIPCION PRODUCTO*/
  /*Es toda la parte de la info del evento*/
  .descripcion-evento {
    width: 100%;
  }
  .descripcion-titulo {
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .titulo-show {
    font-size: 28px;
    font-weight: bold;
    margin: 0px 10px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  /* Article*/
  .descripcion-compra {
    background-color: #e4e4e4;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  /* p */
  .num-compra {
    font-size: 22px;
    margin: 0px;
  }
  
  .descripcion-detalles {
    height: 60px;
    display: flex;
    justify-content: space-around;
    align-items: center;
  }
  .boton-detalles {
    border-radius: 10px;
    border: solid 2px black;
    padding: 7px;
    font-family: "Lexend Deca", sans-serif;
    font-size: 12px;
    font-weight: bold;
    margin: 5px;
    background: radial-gradient(circle, rgb(231 129 150) 0%, #c797ee 100%);
    cursor: pointer;
    transition: all 0.5s;
  }
  .boton-detalles:hover {
    background-color: #141414;
    background: radial-gradient(circle, #c797ee 0%, rgb(231, 129, 150) 100%);
    background-clip: inherit;
    -webkit-background-clip: text; /* Esto permite que el fondo degradado afecte al texto */
    color: transparent;
    font-weight: bold;
    border: solid 2px #141414;
  }
  
  /*TABLET*/
  @media (min-width: 530px) {
    .caja-evento {
      display: flex;
      width: 45%;
      flex-wrap: wrap;
    }
  }
  /*DESKTOP*/
  @media (min-width: 1000px) {
    .caja-evento {
      display: flex;
      width: 25%;
      flex-wrap: wrap;
    }
  }
/* Estilos para el header */
.main-header {
    background-color: #fffafb;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 20px;
}
@media (min-width: 576px){
.navbar-expand-sm .navbar-collapse {
    display: flex!important;
    flex-basis: auto;
    justify-content: flex-end;
}
}
.boton-desplegable{
    color: #131313;
    padding: 0.25rem 0.75rem;
    font-size: 1.25rem;
    line-height: 1;
    background: radial-gradient(circle, #c797ee 0%, rgb(231 129 150) 100%);
    border: 1px solid transparent;
    border-radius: 0.25rem;
    transition: box-shadow .15s ease-in-out;
}
/* Estilos para el logo */
.logo img {
    width: 40px;
    height: auto;
}

/* Estilos para los iconos en desktop */
.desktop-icons {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
}

.desktop-icons li {
    margin-left: 20px;
}

.desktop-icons a {
    color: #141414;
    text-decoration: none;
    font-size: 20px;
}

/* Estilos para el botón de dropdown */
.dropdown-button {
    background: none;
    border: none;
    cursor: pointer;
    font-size: 20px;
    display: none;
}

/* Estilos para el contenido del dropdown */
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #fffafb;
    width: 100%;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
    right: 0;
    bottom: 0;
    top: 15%;
}

.dropdown-content a {
    color: #141414;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}

.dropdown-content a:hover {
    background-color: #ddd;
}

/* Estilos responsivos */
@media (max-width: 768px) {
    .main-header {
        flex-direction: column;
        text-align: center;
    }

    .desktop-icons {
        display: none;
    }

    .dropdown-button {
        display: block;
    }

    .dropdown {
        margin-top: 10px;
    }

    .dropdown-content {
        display: block;
    }
}

/* Estilos para el footer */
.main-footer {
    background-color: #141414;
    color: #fffafb;
    font-family: "Lexend Deca", sans-serif;
    padding: 20px;
}

.footer-left {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    margin-bottom: 20px;
    height: 200px;
}

.resources,
.need-help {
    flex-basis: 23.33%;
    max-width: 23.33%;
}

.resources h3,
.need-help h3 {
    margin-bottom: 10px;
}

.resources ul,
.need-help ul {
    list-style: none;
    padding: 0;
}

.resources ul li,
.need-help ul li {
    margin-bottom: 5px;
}

.logo {
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
}

.logo img {
    width: 250px;
    height: auto;
    vertical-align: middle;
}

a {
    color: #fffafb;
    text-decoration: none;
}

.footer-right {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.social-icons a {
    color: #fffafb;
    margin-left: 10px;
}

.social-icons a:first-child {
    margin-left: 0;
}

/* Estilos responsivos */
@media (max-width: 768px) {
    .footer-left {
        flex-wrap: wrap;
        height: auto;
    }

    .resources,
    .need-help {
        flex-basis: 100%;
        max-width: 100%;
        margin-bottom: 10px;
    }
    .logo {
        text-align: center;
        width: 70%;
    }

    .logo img {
        width: 250px;
        height: auto;
        vertical-align: middle;
    }

    .footer-right {
        flex-direction: column;
        align-items: center;
        text-align: center;
    }

    .footer-right .social-icons {
        margin-top: 10px;
    }
}

/* Estilos para el login */
.errors-form{
    color: red;
    font-size: 12px;
}

.login-container {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: #fffafb;
}

.login-box {
    background-color: #fff;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    padding: 30px;
    border-radius: 5px;
    width: 300px;
    text-align: center;
}

.login-title {
    font-size: 24px;
    color: #141414;
    margin-bottom: 20px;
}

.login-form label {
    display: block;
    margin-bottom: 8px;
    color: #141414;
}

.login-form input {
    width: 80%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ddd;
    border-radius: 5px;
}

.login-button {
    background-color: #141414;
    color: #fffafb;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.login-button:hover {
    background-color: #333;
}

.register-link {
    margin-top: 20px;
    color: #141414;
}

.register-link a {
    color: #131313;
    text-decoration: underline;
}

@media (max-width: 768px) {
    .login-box {
        width: 100%;
        box-shadow: none;
        padding: 20px;
    }
}

/* Estilos para el register */
.register-container {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: #fffafb;
}

.register-box {
    background-color: #fff;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    padding: 30px;
    border-radius: 5px;
    width: 300px;
    text-align: center;
}

.register-title {
    font-size: 24px;
    color: #141414;
    margin-bottom: 20px;
}

.register-form label {
    display: block;
    margin-bottom: 8px;
    color: #141414;
}

.register-form input {
    width: 80%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ddd;
    border-radius: 5px;
}

.register-button {
    background-color: #141414;
    color: #fffafb;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.register-button:hover {
    background-color: #333;
}

@media (max-width: 768px) {
    .register-box {
        width: 100%;
        box-shadow: none;
        padding: 20px;
    }
}
li :hover{
    color: palevioletred;
}

/*ADMIN VIEW*/
.boton-admin{
    border-radius: 15px;
    padding: 4px 10px;
    font-weight: bold;
    background-color: rgba(255, 202, 214, 0.88);
    border: solid 3px;
}
.caja-volver{
    margin: 20px;
}
.caja-botonesadmin{
    padding: 10px 20px;
}
.btn-admin{
    border-radius: 0.375rem;
    border: solid 2px black;
    padding: 0.5rem 1.5rem;
    font-family: "Lexend Deca", sans-serif;
    font-size: 1 rem;
    cursor: pointer;
    transition: all 1s;
    display: flex;
    gap: 0.5rem;
    justify-content: center;
    align-items: center; 
    font-weight: bold;
}