<header class="navbar navbar-expand-sm main-header">
    <div class="container-fluid">
      <a class="logo" href="/">
        <img src="/img/logo.png" alt="Concert Pass Logo" />
      </a>
      <button class="navbar-toggler boton-desplegable" type="button" data-bs-toggle="collapse" data-bs-target="#collapsibleNavbar">
        <i class="fa-solid fa-bars" style="color: #ffffff;"></i>
      </button>
      <div class="collapse navbar-collapse " id="collapsibleNavbar">
        <ul class="navbar-nav desktop-icons">
          <% if(showLinks){ %>
          <li class="nav-item">
            <a class="nav-link" href="/myPerfil/<%= idUsuario %>">
              <i class="fa-regular fa-user"></i>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/misTickets">
              <i class="fa-solid fa-ticket"></i>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/miCarrito">
              <i class="fas fa-shopping-cart"></i>
            </a>
          </li>
          <% } %>
        </ul>
      </div>
    </div>
  </header>
