<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" type="text/css" href="/css/myTickets.css">
    <!-- <link rel="stylesheet" type="text/css" href="/css/style.css"> -->

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Lexend+Deca&family=Roboto:wght@100&display=swap"
        rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
</head>

<body>
    <!-- HEADER -->
    <%- include ("./partials/header.ejs")%>
    <!-- FIN HEADER -->
    <section class="busqueda">
        <form action="#">
            <input type="text" name="barra-busq" id="barra-busq" placeholder="Buscar...">
            <i class="fas fa-search icono-busq"></i>
            <i class="fa-solid fa-filter icono-busq"></i>
        </form>
    </section>
    <section class="titulo">
        <i class="fas fa-ticket-alt icono-ticket"></i>
        <h1 class="titulo-entradas">MIS ENTRADAS</h1>
    </section>

    <section class="body-eventos">
        <article class="caja-evento">
            <section>
                <img src="/img/dukii.png" alt="FOTO-PRODUCTO" class="foto-producto">
            </section>
            <section class="descripcion-evento">
                <article class="descripcion-titulo">
                    <p class="titulo-show">DUKI</p>
                </article>
                <article class="descripcion-compra">
                    <p class="num-compra">COMPRA #1111</p>
                </article>
                <article class="descripcion-detalles">
                    <a href="./detail"><button class="boton-detalles">VOLVER A COMPRAR</button></a>
                    <a href="./detail"><button class="boton-detalles">VER COMPRA</button></a>
                    <a href="./detail"><button class="boton-detalles">VENDER COMPRA</button></a>
                </article>
            </section>
            
        </article>

        <article class="caja-evento">
            <section>
                <img src="/img/taylor.jpg" alt="FOTO-PRODUCTO" class="foto-producto">
            </section>

            <section class="descripcion-evento">
                <article class="descripcion-titulo">
                    <p class="titulo-show">TAYLOR SWIFT</p>
                </article>
                <article class="descripcion-compra">
                    <p class="num-compra">COMPRA #1111</p>
                </article>
                <article class="descripcion-detalles">
                    <a href="./detail"><button class="boton-detalles">VOLVER A COMPRAR</button></a>
                    <a href="./detail"><button class="boton-detalles">VER COMPRA</button></a>
                    <a href="./detail"><button class="boton-detalles">VENDER COMPRA</button></a>
                </article>
            </section>
        </article>
    </section>

    <section class="">
        <br><br><br><br><br>
    </section>
    <!-- FOOTER -->
    <%- include ("./partials/footer.ejs") %>
    <!-- FIN FOOTER -->
</body>

</html>