<!DOCTYPE html>
<html lang="en">
    <!-- HEAD -->
    <%- include("/partials/head.ejs) %>
    <!-- FIN HEAD -->
<body>
    <!-- HEADER -->
    <%- include ("./partials/header.ejs")%>
    <!-- FIN HEADER -->
    <section>
        <article class="anuncio">
            Espacio para el anuncio
        </article>
    </section>

    <section class="busqueda">
        <form action="#">
            <input type="text" name="barra-busq" id="barra-busq" placeholder="Buscar...">
            <i class="fas fa-search icono-busq"></i>
            <i class="fa-solid fa-filter icono-busq"></i>
        </form>
    </section>
    <section class="body-articulos">
        <article class="caja-producto">
            <section>
                <img src="/img/DUKI.png" alt="FOTO-PRODUCTO" class="foto-producto">
            </section>

            <section class="descripcion-producto">
                <section class="descripcion">
                    <p class="titulo-show">DUKI</p>
                    <p class="lugar-show">ESTADIO RIVER PLATE</p>
                </section>
                <section>
                    <a href="./detail"><button class="boton-comprar">COMPRAR<i
                                class="ticket-botoncomprar fas fa-ticket-alt"></i></i></button></a>
                </section>
            </section>
        </article>

        <article class="caja-producto">
            <section>
                <img src="/img/TAYLOR.png" alt="FOTO-PRODUCTO" class="foto-producto">
            </section>

            <section class="descripcion-producto">
                <section class="descripcion">
                    <p class="titulo-show">TAYLOR SWIFT</p>
                    <p class="lugar-show">ESTADIO RIVER PLATE</p>
                </section>
                <section>
                    <a href="./detail"><button class="boton-comprar">COMPRAR<i
                                class="ticket-botoncomprar fas fa-ticket-alt"></i></i></button></a>
                </section>
            </section>
        </article>

        <article class="caja-producto">
            <section>
                <img src="/img/LOLA.png" alt="FOTO-PRODUCTO" class="foto-producto">
            </section>

            <section class="descripcion-producto">
                <section class="descripcion">
                    <p class="titulo-show">LOLLAPALOOZA</p>
                    <p class="lugar-show">HIP. DE SAN ISIDRO</p>
                </section>
                <section>
                    <a href="./detail"><button class="boton-comprar">COMPRAR<i
                                class="ticket-botoncomprar fas fa-ticket-alt"></i></i></button></a>
                </section>
            </section>
        </article>

        <article class="caja-producto">
            <section>
                <img src="/img/RHCP.png" alt="FOTO-PRODUCTO" class="foto-producto">
            </section>

            <section class="descripcion-producto">
                <section class="descripcion">
                    <p class="titulo-show">RHCP!</p>
                    <p class="lugar-show">ESTADIO RIVER PLATE</p>
                </section>
                <section>
                    <a href="./detail"><button class="boton-comprar">COMPRAR<i
                                class="ticket-botoncomprar fas fa-ticket-alt"></i></i></button></a>
                </section>
            </section>
        </article>

        <article class="caja-producto">
            <section>
                <img src="/img/LUMINERS.png" alt="FOTO-PRODUCTO" class="foto-producto">
            </section>

            <section class="descripcion-producto">
                <section class="descripcion">
                    <p class="titulo-show">THE LUMINEERS</p>
                    <p class="lugar-show">ESTADIO OBRAS</p>
                </section>
                <section>
                    <a href="./detail"><button class="boton-comprar">COMPRAR<i
                                class="ticket-botoncomprar fas fa-ticket-alt"></i></i></button></a>
                </section>
            </section>
        </article>

        <article class="caja-producto">
            <section>
                <img src="/img/THE WEEKEND.png" alt="FOTO-PRODUCTO" class="foto-producto">
            </section>

            <section class="descripcion-producto">
                <section class="descripcion">
                    <p class="titulo-show">THE WEEKND</p>
                    <p class="lugar-show">ESTADIO RIVER PLATE</p>
                </section>
                <section>
                    <a href="./detail"><button class="boton-comprar">COMPRAR<i
                                class="ticket-botoncomprar fas fa-ticket-alt"></i></i></button></a>
                </section>
            </section>
        </article>

    </section>

    <section class="">
        <br><br><br><br><br>
    </section>
    <!-- FOOTER -->
    <%- include ("./partials/footer.ejs") %>
    <!-- FIN FOOTER -->
</body>

</html>